@font-face {
  font-family: 'inBolso';
  src: url('../assets/fonts/inBolso.eot?ptxbxg');
  src: url('../assets/fonts/inBolso.eot?ptxbxg#iefix') format('embedded-opentype'),
    url('../assets/fonts/inBolso.ttf?ptxbxg') format('truetype'),
    url('../assets/fonts/inBolso.woff?ptxbxg') format('woff'),
    url('../assets/fonts/inBolso.svg?ptxbxg#inBolso') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='in-'],
[class*=' in-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'inBolso' !important;
  font-style: normal !important;
  font-weight: normal !important;
  text-decoration: none !important;
  speak: never;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: inline-block;
}

@import './icons';
@import './animations';
